/*  base : sidebar
/* ------------------------------------ */

.sidebar {
	padding-bottom: 20px;
	position: relative;
	z-index: 2;
	.wrap {
		
	}
	.widget:first-of-type {
		background-color: #3b8dbd;
		padding: 15px 30px;
		h4 {
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
			padding: 3px 0;
		}
	}
	p {
		float: left;
		color: #fff;
		color: rgba(255, 255, 255, 0.8);
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;
		line-height: 24px;
		padding: 3px 0;
	}
}

.sidebar-top {

}

.sidebar-toggle {
	display: none;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 50px;
	-webkit-box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.1);
	i {
		font-size: 38px;
		color: #fff;
		padding: 5px 0;
	}
}

.sidebar-primary-expand .sidebar-primary, .sidebar-secondary-expand .sidebar-secondary {
	-moz-transition: width .2s ease;
	-webkit-transition: width .2s ease;
	transition: width .2s ease;
}

/* toggle icon */

.icon-sidebar-toggle:before {
	font-family: FontAwesome;
}

.col-2cl .sidebar-primary .icon-sidebar-toggle:before, .col-3cl .sidebar-primary .icon-sidebar-toggle:before, .col-3cm .sidebar-secondary .icon-sidebar-toggle:before, .col-3cl .sidebar-secondary .icon-sidebar-toggle:before {
	content: "\f100";
}

.col-2cr .sidebar-primary .icon-sidebar-toggle:before, .col-3cm .sidebar-primary .icon-sidebar-toggle:before {
	content: "\f101";
}

.col-3cr {
	.sidebar-primary .icon-sidebar-toggle:before, .sidebar-secondary .icon-sidebar-toggle:before {
		content: "\f101";
	}
}

/* sidebar primary */

.sidebar-primary {
	width: 340px;
	z-index: 2;
	&:hover {
		z-index: 98;
		/* social icons tooltip above header nav */
	}
	.sidebar-top, .sidebar-toggle {
		background: #3b8dbd;
	}
}

@media only screen and (min-width: 479px) and (max-width: 960px) {
	.sidebar-primary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p, .social-links .social-tooltip {
			color: #666;
		}
	}
}

/* sidebar secondary */

.sidebar-secondary {
	width: 260px;
	z-index: 1;
	.sidebar-top, .sidebar-toggle {
		background: #82b965;
	}
}

@media only screen and (min-width: 479px) and (max-width: 1200px) {
	.sidebar-secondary .sidebar-top {
		background: none !important;
		border-bottom: 1px solid #ddd;
		p {
			color: #666;
		}
	}
}